<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Theisen Sanders</title>
  <meta name="description" content="Theisen Sanders, Software Engineering Manager">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.sift.min.css' | relative_url }}">

  <link rel="preload" href="https://fonts.googleapis.com/css2?family={{ site.font | uri_escape }}&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ site.font | uri_escape }}&display=swap"></noscript>
  <style>
    body {
      font-family: '{{site.font}}', var(--bs-font-sans-serif);
    }
  </style>
</head>
<body class="py-sm-5">

  <div class="container-md px-sm-5">
    {{ content }}
  </div>

</body>
</html>
