<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="#">
  <meta name="description" content="#">
  <meta name="referrer" content="unsafe-url">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
  <link rel="icon" href="/assets/icon.svg">

  {% for style in page.styles %}
  <link rel="preload" as="style" href="{{ style }}">
  <link rel="stylesheet" href="{{ style }}">
  {% endfor %}
  {% for script in page.scripts %}
  <link rel="preload" href="{{ script }}" as="script">
  {% endfor %}

  <title>Theisen Sanders</title>
</head>

<body>
  {{ content }}

  {% for script in page.scripts %}
  <script src="{{ script }}"></script>
  {% endfor %}
</body>

</html>